.container .add-course-btn {
  position: fixed;
  bottom: 20rpx;
  right: 20rpx;
  z-index: 999;
}
.container .search-homeWork-btn {
  position: fixed;
  bottom: 200rpx;
  right: 20rpx;
  z-index: 999;
}
.container .picker {
  margin-top: 30rpx;
  padding: 24rpx 0;
  color: #333;
  font-size: 28rpx;
  background-color: #FFF;
  margin-left: 32rpx;
  margin-bottom: 1PX;
  position: relative;
  border-bottom: 1rpx solid #d6e4ef;
  margin-right: 16rpx;
  display: flex;
  align-items: center;
}
.container .picker .picker-title {
  width: 172rpx;
  font-size: 32rpx;
  line-height: 1.5;
  vertical-align: middle;
  text-align: left;
}
